<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head')%>
  <title>Bloggier</title>
</head>

<body>
  <%- include('./partials/nav')%>
  <div class="container mt-3">
    <h3><%= blog.title %></h3>
    <img src="<%=blog.coverImageURL%>" alt="">
    <p><%= blog.body %></p>
  </div>

  <div class="container mt-4">
    <!-- <img src="<%=user.profileImageURL%>" alt="Image" width="100px"> -->
    -<strong><%= blog.createdBy.fullname%></strong>
  </div>
  <%- include('./partials/script')%>

  <div class="container mt-3">
    <h4>comments (<%=Comments.length%>)</h4>
    <% if (locals.user) { %>
      <form action="/blog/comment/<%=blog._id%>" method="post">
        <div class="mb-3">
          <input type="text" name="content" class="form-control" placeholder="Enter Your Comment">
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
      </form>
      <div class="mt-3">
        <% Comments.forEach(comment => { %>
          
          <strong><%= comment.createdBy.fullname %></strong>
          <pre><%= comment.content %></pre>
        <% }) %>
      </div>
    <% } %>
  </div>
</body>

</html>